<div class="forumContainer">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary message" type="button" data-toggle="collapse" data-target="#collapseMessage" aria-expanded="false" aria-controls="collapseMessage">
        Join The Discussion
      </button>
    </div>
  </div>
  <div class="collapse" id="collapseMessage">
    <div class="row">
        <div class="col-sm-12">
          <form class="" action="">
            <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" class="form-control" aria-describedby="title" placeholder="Message Title">
            </div>
            <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" aria-describedby="name" placeholder="Enter Your Name">
            </div>
            <div class="form-group">
            <label for="name">Message:</label>
            <textarea class="form-control" id="message" name="message" aria-describedby="message" placeholder="Enter Your Message"></textarea>
            </div>
            <button id="submitMessage" class="btn btn-primary float-right">Submit</button>
          </form>
        </div>
    </div>

  </div>
  
  <div id="forumMessages">
  </div>
</div>
