<div class="indexContainer">
   
    <img src="images/lotrbg.jpg" alt="lotr-characters" class="img-fluid" id="lotrChars">
    <div class="jumbotron">
  <h1 class="display-4">Welcome to the Lord of the Rings Fan Page</h1>
  <p class="lead">Join us for an epic adventure through all things Middle Earth as we help you complete your search for the One Ring!</p>
  <hr class="my-4">
</div>
    
</div>