<div class="movieContainer">

  <div class="row">
    <div class="col-md-4 d-flex">
      <div class="card">
        <img src="images/fellowship.jpg" class="card-img-top" alt="fellowship">
          <div class="card-body">
            <h5 class="card-title">The Fellowship of the Ring</h5>
            <p class="card-text"><strong>Featuring:</strong> Elijah Wood, Ian McKellen, Liv Tyler, Viggo Mortensen, Sean Astin, Cate Blanchett</p>
          </div>
          <div class="card-footer">
            <a href="https://www.amazon.com/gp/video/detail/B018JQT5NO/ref=atv_dl_rdr" class="btn btn-primary">Stream</a>
          </div>
      </div>
    </div>  

    <div class="col-md-4 d-flex">
      <div class="card">
        <img src="images/twotowers.jpg" class="card-img-top" alt="two-towers">
          <div class="card-body">
            <h5 class="card-title">The Two Towers</h5>
            <p class="card-text"><strong>Featuring:</strong> Elijah Wood, Ian McKellen, Liv Tyler, Viggo Mortensen, Sean Astin, Karl Urban</p>
          </div>
          <div class="card-footer">
            <a href="https://www.amazon.com/Lord-Rings-Towers-Elijah-Wood/dp/B0037WP83M/ref=sr_1_1?crid=1VLCO1IKRCXY6&keywords=lord+of+the+rings+two+towers&qid=1573608876&s=instant-video&sprefix=lord+of+the%2Cinstant-video%2C211&sr=1-1" class="btn btn-primary" class="btn btn-primary">Stream</a>
          </div>
      </div>
    </div>  

    <div class="col-md-4 d-flex">
      <div class="card">
        <img src="images/return.jpg" class="card-img-top" alt="return-of-the-king">
      <div class="card-body">
        <h5 class="card-title">The Return of the King</h5>
        <p class="card-text"><strong>Featuring:</strong> Elijah Wood, Ian McKellen, Liv Tyler, Viggo Mortensen, Sean Astin, Cate Blanchett</p>
      </div>
      <div class="card-footer">
        <a href="https://www.amazon.com/gp/video/detail/B00BQPD5HS/ref=atv_dp_b00_det_c_UTPsmN_1_1" class="btn btn-primary">Stream</a>
      </div>
    </div>
  </div>
</div>