<nav class="navbar navbar-default navbar-expand-lg navbar-light">
	<div class="navbar-header d-flex col">
		<a class="navbar-brand" href="#">LOTR<b>Fan Page</b></a>  		
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
			<span class="navbar-toggler-icon"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<!-- Main menu that is displays on every page -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<ul class="nav navbar-nav">
			<li class="nav-item"><a href="#" class="nav-link">Home</a></li>
			<li class="nav-item"><a href="#" class="nav-link">Music</a></li>
			<li class="nav-item"><a href="#" class="nav-link">Movies</a></li>	
			<li class="nav-item"><a href="#" class="nav-link">Shopping</a></li>	
			<li class="nav-item"><a href="#" class="nav-link">Message Board</a></li>		
			
		</ul>
		{{!-- Sign up form at the top right of the page --}}
		<ul class="nav navbar-nav navbar-right ml-auto">			
			
			<li class="nav-item">
				<a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Sign up</a>
				<ul class="dropdown-menu form-wrapper">					
					<li>
						<form action="" method="post">
							<p class="hint-text">Fill out this form to receive our newsletter!</p>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="First Name" required="required">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Last Name" required="required">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email Address" required="required">
							</div>
							
							<input type="submit" class="btn btn-primary btn-block" value="Sign up">
						</form>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

<body>
    <div class="card" style="width: 18rem;">
    <img src="https://dhs1n389ze6jv.cloudfront.net/img/product-main/1511987249db6001e7823ab42bbe0eee94447b14a6.jpg" class="card-img-top" alt="amazonPic">
    <div class="card-body">
        <h5 class="card-title">Shop on Amazon</h5>
        <p class="card-text">Visit Amazon.com to see a wide collection of LORT items!</p>
        <a href="https://www.amazon.com/s?k=lord+of+the+rings+collectibles&gclid=CjwKCAiA5JnuBRA-EiwA-0ggPe2o1UQwRJQeF_zs1FxY4vZUaIv7OvQaHWNajC2Be4CovSWoRledCxoCOoAQAvD_BwE&hvadid=174199984044&hvdev=c&hvlocphy=9013193&hvnetw=g&hvpos=1t3&hvqmt=e&hvrand=15849815531612233880&hvtargid=kwd-50216461&hydadcr=24603_9648850&tag=googhydr-20&ref=pd_sl_oa6v38vdk_e" class="btn btn-primary">Start Shopping</a>
    </div>
    </div>

</body>








<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>

