<div class="shoppingContainer">
    <div class="row">
        <div class="col-sm-12" id="shoppingTitle">
            <h2>LOTR Collectibles For Sale</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ebay</h5>
                    
                    <a href="https://www.ebay.com/b/Lord-of-the-Rings-Collectibles/73517/bn_2313615" target="_blank" class="btn btn-primary">Search</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">amazon</h5>
                    
                    <a href="https://www.amazon.com/s?k=lord+of+the+rings+collectibles&crid=1XUSURPWSOY36&sprefix=lord+of+the+rings+coll%2Caps%2C158&ref=nb_sb_ss_i_1_22" targe="_blank" class="btn btn-primary">Search</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">etsy</h5>
                    
                    <a href="https://www.etsy.com/search?q=lord%20of%20the%20rings&ref=auto1&as_prefix=lord%20o" target="_blank" class="btn btn-primary">Search</a>
                </div>
            </div>
        </div>
        
    </div>

</div>


</div>