<div class="musicContainer">

   <div class="row">
      <div class="col-sm-12 mb-4">
         <button class="btn btn-primary" id="submitSpotify"><i class="fas fa-music"></i> Search Spotify </button> 
      </div>
   </div>
   
   <div class="row" id="albumsDiv">
      
         
      
   </div>
   
</div>